[Unit]
Description=Runs Rempointer on Schedule

[Timer]
OnCalendar=Mon..Fri {{ punch_start }},{{ punch_end }}
Persistent=true
Unit=rempointer.service

[Install]
WantedBy=timers.target
